include README.rst
include CHANGES.rst
include LICENSE.rst
recursive-include licenses *
include astropy_helpers\commands\src\compiler.c

include ah_bootstrap.py

exclude *.pyc *.o
prune build
prune astropy_helpers/tests
